build-win64-vs2022/
*.suo
*.user
*.db
*.db-shm
*.db-wal
*.ipch
.vs/
CMakeFiles/
*.dir/
*.sln
*.vcxproj
*.vcxproj.filters
CMakeCache.txt
cmake_install.cmake
*.recipe
*.tlog/
*.lastbuildstate
x64/
Debug/
output-vs*/
.backup/
__pycache__/
*.pyc
